SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOW_HOSTS=localhost,127.0.0.1
ALLOWED_HOSTS=kropits.onrender.com localhost 127.0.0.1

DB_NAME=kropits
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
